{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="my-4" style="padding-bottom: 1%; padding-left: 3%;">Categories
    </h1>
  
    <div class="container">
        {% for category in categories %}
        <!-- Project One -->
        <div class="row">
          <div class="col-md-7">
           <a href="{% url 'in_category' category=category.category %}"> <h5>{{category.category}}</h5></a>
          </div>
        </div>
        <!-- /.row -->
    
        <hr>
        {% endfor %}
    
        
  

{% endblock %}

